BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 500

BreakBeforeBraces: Allman

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlignConsecutiveMacros: true
PointerAlignment: Left
DerivePointerAlignment: false

SpaceBeforeParens: ControlStatements

SpacesInParentheses: false
SpacesInSquareBrackets: false

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true

SortIncludes: true
IncludeBlocks: Regroup

IndentCaseLabels: true

Standard: Cpp11

BinPackArguments: false
BinPackParameters: false

BreakConstructorInitializers: BeforeComma

ReflowComments: true
